COZE_API_TOKEN=
COZE_BOT_ID=7523562982732152884
COZE_API_BASE=https://api.coze.cn
COZE_DEFAULT_USER_ID=wyl@fish0507

DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat
